name: Make releases

on:
    create:
        tags:
            - "v*"
jobs:
    git:
        name: Release on Git
        runs-on: ubuntu-latest
        steps:
            - name: Check out code
              uses: actions/checkout@v4
            - name: Validates GO releaser config
              uses: docker://goreleaser/goreleaser:latest
              with:
                  args: check
            - name: Create release on GitHub
              uses: goreleaser/goreleaser-action@v6
              with:
                  version: '~> v2'
                  args: release --clean
              env:
                  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
                  BREW_RELEASE_TOKEN: ${{ secrets.BREW_RELEASE_TOKEN }}
